<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_01_WPF_ZooManager.Properties.Settings.JustinsDBConnectionString"
            connectionString="Data Source=XINXIN\JUSTINSSQL;Initial Catalog=JustinsDB;Persist Security Info=True;User ID=sa;Password=love0607"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>